<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @place.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @place.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Image:</b>
  <%= @place.image %>
</p>

<p>
  <b>Info:</b>
  <%= @place.info %>
</p>

<p>
  <b>Rate:</b>
  <%= @place.rate %>
</p>

<p>
  <b>Numberofrate:</b>
  <%= @place.numberOfRate %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @place.gmaps %>
</p>

<p>
  <b>Comments:</b><br/>
	<% if @comments.count != 0 %>
	<% @comments.each do |comment| %>
		<%= comment.content %>
		<%= link_to 'Destroy', [@place, comment], method: :delete, data: { confirm: 'Are you sure?' } %><br/>
	<% end %>
	<% end %>
</p>


<%= form_for [@place, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Comment</b><br />
     <%= f.text_area :content, size: "60x5"%>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>



<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<%= gmaps("map_options" => { "auto_zoom" => false, "zoom" => 16 },
          "markers" => { "data" => @json }) %>