<p id="notice"><%= notice %></p>

<%= @result %>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @place.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @place.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Image:</b>
  <%= @place.image %>
</p>

<p>
  <b>Info:</b>
  <%= @place.info %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @place.gmaps %>
</p>

<p>
  <b>Comments:</b><br/>
	<% @comments.each do |comment| %>
	<% if comment.content.present? %>
		<%= comment.user.email %>
		<%= comment.content %>
		<%= link_to 'Destroy', [@place, comment], method: :delete, data: { confirm: 'Are you sure?' } %><br/>
	<% end %>
	<% end %>
</p>

<p>
  <b>Rates:</b><br/>
	<% @rates.each do |rate| %>
	<% if rate.value.present? %>
		<%= rate.user.email %>
		<%= rate.value %><br/>
	<% end %>
	<% end %>
</p>
<p>
  <b>Average rating:</b>
	<%= @place.average_rating %>
</p>

<%= form_for @place, :url => rate_and_comment_place_path(@place), :method => :post do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<%= f.hidden_field :access_token, value: "" %>
  <div class="field">
    <%= f.label :comment_content %><br />
		<%= f.text_area :comment_content, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :user_rate_value %><br />
    <%= f.text_field :user_rate_value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<%= gmaps("map_options" => { "auto_zoom" => false, "zoom" => 16 },
          "markers" => { "data" => @json }) %>